[submodule "submodules/sdsl-lite"]
	path = submodules/sdsl-lite
	url = https://github.com/xxsds/sdsl-lite.git
[submodule "submodules/cereal"]
	path = submodules/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "submodules/lemon"]
	path = submodules/lemon
	url = https://github.com/seqan/lemon
[submodule "submodules/simde"]
	path = submodules/simde
	url = https://github.com/simd-everywhere/simde.git
